name: exo1

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    run-on: ubuntu-lastest

    steps:
    - name: Recuperer le code
      uses: actions/checkout@v4

    - name: print
      uses: actions/setup-node@v4
      with:
        node-version: '20'




