name: exo1

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Recuperer le code
      uses: actions/checkout@v4

    - name: print
      run: echo "Le restaurant est ouvert !"
 




